@media (max-width: 992px) 
{
    #left {
        flex: 100%;
        order: 3;
        }
    }

@media (max-width: 768px) 
{
    section {
        flex-direction: column;
             }
    p{
        padding-left: 6px;
        padding-right: 12px;
    }
}
