@media all and (max-width: 992px) 
{
    #left {
        flex: 100%;
        order: 3;
        }
   
    }

@media all and (max-width: 768px) 
{
    section {
        flex-direction: column;
             }
    #right {
        order: 3;
    }
    aside {
        flex: 60%;
    }
    article {
        flex: 38%;
    }
    p{
        padding-left: 6px;
        padding-right: 12px;
    }
}
